<div class="page">

    <div class="search-box">
        <input type="text" placeholder="Type To Search" 
        (keyup)="searchForPlaces($event)"
        (focusout)="isComboBoxOpen = false"
        [ngClass]="{'input-open': isComboBoxOpen}">

        <div class="combo-box" [ngStyle]="{'height': isComboBoxOpen? 'fit-content':'0px'}">

            <div class="option" *ngFor="let place of placesList">{{place.LocalizedName}}</div>
        </div>
    </div>


    <div class="today-forcast-section">

        <div class="header">
            <p class="place-name">New York</p>
            <p class="date">Monday 7:00AM</p>
        </div>

        <div class="weather-section">
            <img class="icon" src="../../assets/icons/sun.svg" alt="">
            <div class="temp">30C</div>
        </div>

    </div>

    <div class="week-forcast-section">
        <weather-card 
        class="card"
        *ngFor="let forcast of weekForcast" 
        [card]="forcast"></weather-card>
    </div>

</div>