 <div class="search-box">
    <input 
        type="text" 
        placeholder="Type To Search" 
        (keyup)="searchForPlaces()"
        [(ngModel)]="searchText"
        class="{{isComboBoxOpen? 'input-open':'input-close'}}">
    
    <div class="combo-box" 
    [ngStyle]="{'max-height': isComboBoxOpen? '170px':'0px'}">

        <div class="option" 
        (click)="handleOptionClick(place.LocalizedName, place.key)"
        *ngFor="let place of placesList">
        {{place.LocalizedName}}</div>

    </div>
        
</div>