<div class="nav-bar" [ngStyle]="{'right': isNavbarOpen?'-15%':'0px'}">

    <div class="button-link-section">

        <p
        class="button-link main {{currSelectedButtonLink === 'Main'? 'active':''}}" 
        (click)="handleButtonLinkClick($event)">Main</p>

        <p 
        class="button-link favorites {{currSelectedButtonLink === 'Favorites'? 'active':''}}" 
        (click)="handleButtonLinkClick($event)">Favorites</p>

    </div>

    <div class="settings-section">

        <toggle
        [label]="'Dark Mode'" 
        (toggleClick)="handleToggleClick($event, 'Dark Mode')"></toggle>

        <toggle 
        [label]="'Celsius/Fahrenheit'" 
        (toggleClick)="handleToggleClick($event, 'Celsius/Fahrenheit')"></toggle>

    </div>
</div>

<div class="dim-background {{isNavbarOpen? 'fade-out':'fade-in'}}"></div>