.nav-bar{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;

    width: 15%;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    padding: 100px 0;

    user-select: none;

    .button-link-section{

        width: 70%;
        height: fit-content;

        .button-link{
            font-size: calc(10px + 1vw);
            cursor: pointer;
            transition: 0.3s;
        }

        .main{
            margin-bottom: 10px;
        }

        .button-link:hover{
            padding-left: 8px;
        }

        .button-link:active{
            font-weight: 500;
        }
    }

    .settings-section{
        height: fit-content;
        width: 70%;
    }
}